build/
.vscode/c_cpp_properties.json
.vscode/settings.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/Testing/20240413-0930/Test.xml
build/Testing/Temporary/LastTest_20240413-0930.log
build/Testing/Temporary/LastTest_20240413-0930.log
build/CMakeFiles/CMakeConfigureLog.yaml
build/Testing/20240413-0930/Test.xml
build/Testing/Temporary/LastTest_20240413-0930.log
